body {
    margin: 0px; padding: 0px; background-image: linear-gradient(rgba(215, 198, 151, 1), rgba(172, 165, 104, 0.1)); font-family: 'Montserrat', sans-serif; height: 1000px;
}
h1 {
    font-family: 'Caveat', cursive; float: left;
}
.logo{
    float: left; height: 32px; width: 32px;
}

nav {
    background-image: linear-gradient(rgba(143, 128, 86, 0.7), rgba(99, 90, 68, 1)); text-align: center; padding: 0px; margin: 0px; width: 100%; list-style-type: none; position: sticky; display: inline-block; 
}
nav li {
    float: right; padding: 15px; list-style-type: none;
}
nav li a {
    display: block; padding: 10px; text-decoration: none; color: black; font-weight: bold; font-size: 15px;
}
nav li a:hover {
    color: firebrick; font-style: italic;
}
footer {
    background-image: linear-gradient(rgba(143, 128, 86, 1), rgba(99, 90, 68, 1)); height: 60px; width: 100%; position: fixed; left: 0; bottom: 0;
}
.fa-twitter-square{
    float: right; color: cyan; bottom: 0; font-size: xx-large; margin-left: 10; margin-right: 10;
}
.fa-reddit-square{
    float: right; color: orange; bottom: 0; font-size: xx-large; margin-left: 10; margin-right: 10;
}
.fa-facebook-square{
    float: right; color: blue; bottom: 0; font-size: xx-large; margin-left: 10; margin-right: 10;
}
.fa-youtube-square{
    float: right; color: red; bottom: 0; font-size: xx-large; margin-left: 10; margin-right: 10;
}
.phonenum {
    text-align: center; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: xx-small; bottom: 0px; left: 600px; position: fixed;
}
.italic {
    font-style: italic;
}
.page {
    background-image: linear-gradient(rgba(143, 128, 86, 1), rgba(99, 90, 68, 1)); width: 75%; height: 250;
    display: block; margin-left: auto; margin-right: auto; font-weight: 700; font-style: italic; font-family: 'Caveat', cursive; border-radius: 25px;
}
.europeandragon {
    float: right; height: 250px; width: 250px; box-shadow: -10px 10px burlywood;
}
.page2 {
    top: 250px; margin-top: 150px;
}
.allign {
    text-align: center;
}
.leftbox {
    float: left; background-image: linear-gradient(rgba(143, 128, 86, 1), rgba(99, 90, 68, 1)); width: 75%;
    height: 250; font-weight: 700; font-style: italic; border-top-right-radius: 25px; border-bottom-right-radius: 25px;
}