body {
    margin: 0px; padding: 0px; font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Caveat', cursive; float: left;
}
.logo{
    float: left; height: 32px; width: 32px;
}

nav {
    background-image: linear-gradient(rgba(143, 128, 86, 0.7), rgba(99, 90, 68, 1)); text-align: center; padding: 0px; margin: 0px; width: 100%; list-style-type: none; position: sticky; display: inline-block; 
}
nav li {
    float: right; padding: 15px; list-style-type: none;
}
nav li a {
    display: block; padding: 10px; text-decoration: none; color: black; font-weight: bold; font-size: 15px;
}
nav li a:hover {
    color: firebrick; font-style: italic;
}
footer {
    background-image: linear-gradient(rgba(143, 128, 86, 1), rgba(99, 90, 68, 1)); height: 60px; width: 100%; position: fixed; left: 0; bottom: 0;
}
.fa-twitter-square{
    float: right; color: cyan; bottom: 0; font-size: xx-large; margin-left: 10; margin-right: 10;
}
.fa-reddit-square{
    float: right; color: orange; bottom: 0; font-size: xx-large; margin-left: 10; margin-right: 10;
}
.fa-facebook-square{
    float: right; color: blue; bottom: 0; font-size: xx-large; margin-left: 10; margin-right: 10;
}
.fa-youtube-square{
    float: right; color: red; bottom: 0; font-size: xx-large; margin-left: 10; margin-right: 10;
}
.phonenum {
    text-align: center; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: xx-small; bottom: 0px; left: 600px; position: fixed;
}
.italic {
    font-style: italic;
}
.grigori {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ytimg.com/vi/A2p2XI5Mg50/maxresdefault.jpg");
    height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; top: -20;
}
.welcome {
    text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: firebrick; font-style: italic; font-family: 'Caveat', cursive; font-weight: 700;
  }
  .thanks {
    text-align: center; position: fixed; font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: xx-small; bottom: 0px;
  }
