body {
    margin: 0px; padding: 0px; background-image: linear-gradient(rgba(215, 198, 151, 1), rgba(172, 165, 104, 0.1)), url("img/heroimage.png");
}
.logo{
    float: left; height: 32px; width: 32px;
}
nav {
    background-color: #8f8056; text-align: center; padding: 0px; margin: 0px; width: 100%; list-style-type: none; position: sticky; display: inline-block;
}
nav li {
    float: right; padding: 1px; list-style-type: none;
}
nav li a {
    display: block; padding: 10px; text-decoration: none; background-color: #8f8056; color: black; font-weight: bold; font-size: 15px;
}
nav li a:hover {
    background-color: #b0aa8a; color: black;
}
footer {
    background-color: #8f8056; height: 50px; width: 100%; position: fixed; left: 0; bottom: 0;
}
.fa-twitter-square{
    float: right; color: cyan; bottom: 0; font-size: xx-large;
}